<div class="imageviewer">
  <h1><%= image_viewer.title %></h1>
  <a rel="example_group" title="<%= image_viewer.title %>" href="images/large/<%= image_viewer.image_path %>"><%= image_tag "small/#{image_viewer.icon_path}" %></a>
  <table>
    <tr><td>Material:</td><td><%= image_viewer.material %></td></tr>
    <tr><td>Product:</td><td><%= image_viewer.product %></td></tr>
    <tr><td>Category:</td><td><%= image_viewer.subject %></td></tr>
  </table>
</div>