<div id="nav">
  <ul>
    <li class="header"><a href="/">All Products</a></li>
    <li class="header">By Materials
      <ul>
        <% Image.connection.select_values("select distinct(material) from #{Image.table_name}").each do |mat| %>
          <li><a href="/material/<%=mat%>"><%= mat %></a></li>
        <% end %>
      </ul>
    </li>
    <li class="header">By Type
      <ul>
        <% Image.connection.select_values("select distinct(product) from #{Image.table_name}").each do |mat| %>
          <li><a href="/product/<%=mat%>"><%= mat %></a></li>
        <% end %>
      </ul>
    </li>
    <li class="header">By Subject
      <ul>
        <% Image.connection.select_values("select distinct(subject) from #{Image.table_name}").each do |mat| %>
          <li><a href="/subject/<%=mat%>"><%= mat %></a></li>
        <% end %>
      </ul>
    </li>
  </ul>
  <hr class="sep">
  <ul>
    <li class="header">About
      <ul>
        <li><a href="http://maps.google.com/maps?q=Kamenik+Enterprises,+3+Colonial+Circle,+North+East,+21901&iwloc=A&hl=en">Directions</a></li>
        <li><a href="http://maps.google.com/maps/place?cid=10969918218370942099">Google Business Info</a></li>
      </ul>
    </li>
    <!--<li class="header">About Me</li>-->
  </ul>
</div>